.review__element {
    min-height: 150px;
    margin: 20px;
    padding: 25px;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name,
.date {
    color: #565959;
}